{%extends 'base.html' %}
{%block title%} products {%endblock%}
{%block content%}
<div>
    <h1>products</h1>
    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>buying_price</th>
                    <th>selling_price</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in products_data %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{%endblock%}