{%extends 'base.html' %}
{%block title%}Stock{%endblock%}
{%block content%}
<div>
    <h1>products</h1>
    <div>
        <form action='/add_stock' method="post">
            <div>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Stock</option>
                    {% for i in products%}
                    <option value="{{i[0]}}">{{i[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Stock Quantity</label>
                <input type="number" name="stock_quantity" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Pid</th>
                    <th>Stock_quantity</th>
                    <th>Created-at</th>

                </tr>
            </thead>
            <tbody>
                {% for i in stock_data %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{%endblock%}